---
---
{% include header.html %}

				<!-- Main -->
				<section id="banner">
					<article id="main">
						<header>
							<h2>Devil's Head Resort</h2>
							<p align="center">We've reserved a block of rooms at Devil's Head Resort.</br></p>
						</header>
				</section>
						<section class="wrapper style5">
							<div class="inner">
							    <h2 align="center">S6330 Bluff Rd, Merrimac, WI 53561</h2>
								<p align="center">These rooms can be reserved by calling (608) 493-2251 before August 9, 2017 and asking for the Meier-Buchholz Room Block.</p>
								<p>
									<ul class="actions" align="center">
									<li><a href="http://www.devilsheadresort.com/" class="button special fit small" target="_blank">Website</a></li>
									</ul></p>
								<br>
								<p align="center">If you have any questions please feel free to contact us by clicking the email icon located at the bottom of the page. Thanks!</p>
								<hr />
							</div>
						</section>
					</article>
					
{% include footer.html %}