---
---
{% include header.html %}

				<!-- Main -->
					<article id="main">
						<header>
							<h2>Directions</h2>
							
						</header>
						<section class="wrapper style5">
							<div class="inner">
								
								<p>Getting to and around Devil's Lake can be challenging. Please print off or save maps before entering the park as there is limited cell phone service.
								Below we've tried to provide as much information to get you safely in angd out!</p>
							    <h3 align="center"><a href="http://maps.google.com/?q=DEVIL'S LAKE STATE PARK S5975 PARK RD, BARABOO, WI 53913">Devil's Lake State Park <br> S5975 Park Rd, Baraboo, WI 53913</a></h3>
                                <hr>
								<h3 align="center">Getting to Devil's Lake from Chicago</h3>
                                
								<p align="center">For those of you coming from Chicago there are a few different ways. I suggest following route 12 to get into the park. For those of you who would like to be adventerous and take a ferry you can go through Merrimac.<br><br>
                                <iframe src="https://www.google.com/maps/embed?pb=!1m26!1m12!1m3!1d867537.3362993544!2d-88.83004398993967!3d42.6794577214451!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m11!3e0!4m5!1s0x880e2c3cd0f4cbed%3A0xafe0a6ad09c0c000!2sChicago%2C+Illinois!3m2!1d41.8781136!2d-87.6297982!4m3!3m2!1d43.4345694!2d-89.7396547!5e0!3m2!1sen!2sus!4v1484426351695" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe></p>
								<hr>
								<p align="center">A closer look inside the park <br> <br>
								<a download="parkMap.jpg" href="images/parkMap.jpg" title="Devils Lake Map"><img src="images/parkMap.jpg"></p></a>
							</div>
						</section>
					</article>
					
{% include footer.html %}