---
---
{% include header.html %}

				<!-- Main -->
					<article id="main">
						<header>
							<h2>Directions</h2>
							<p>Getting to and around Devil's Lake can be challenging.</br> 
							Below we've tried to provide as much information to get you safely in and out!</p>
						</header>
						<section class="wrapper style5">
							<div class="inner">
							    
							    <h2>Devil's Lake State Park S5975 Park Rd, Baraboo, WI 53913</h2>
                                
								<h3>Getting to Devil's Lake from Chicago</h3>
                                
								<p>For those of you coming from Chicago there are a few different ways. I suggest following 12 to get into the park. For those of you who would like to be adventerous and take a ferry you can go through Merrimac.</p>
                                <iframe src="https://www.google.com/maps/embed?pb=!1m26!1m12!1m3!1d867537.3362993544!2d-88.83004398993967!3d42.6794577214451!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m11!3e0!4m5!1s0x880e2c3cd0f4cbed%3A0xafe0a6ad09c0c000!2sChicago%2C+Illinois!3m2!1d41.8781136!2d-87.6297982!4m3!3m2!1d43.4345694!2d-89.7396547!5e0!3m2!1sen!2sus!4v1484426351695" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>

								<hr />

								<h3>Getting to Devil's Lake from Minnesota</h3>
								<p>For those of you coming from the North or West.</p>
								<iframe src="https://www.google.com/maps/embed?pb=!1m28!1m12!1m3!1d875583.9667150496!2d-89.74035210281117!3d43.87497993247254!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m13!3e6!4m5!1s0x87f629fd5bb7538f%3A0xd070c186a8aea420!2sTwin+Cities%2C+MN!3m2!1d44.9374831!2d-93.20099979999999!4m5!1s0x88076b09e9bb0cc5%3A0xc3dff582d677d7c3!2sDevil&#39;s+Lake+State+Park%2C+S5975+Park+Rd%2C+Baraboo%2C+WI+53913!3m2!1d43.4284471!2d-89.7313678!5e0!3m2!1sen!2sus!4v1484427151078" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>

							</div>
						</section>
					</article>
					
{% include footer.html %}