---
bodyType: landing
---
<!-- Header -->
{% include header.html title="Welcome!" %}
<!-- Banner -->
					<section id="banner">
						<div class="inner">
							<h2>Jenna Buchholz</br>
							&</br>
							Paul Meier
							</h2>
							<p>Are Getting Married!<br />
						</div>
						<a href="#ceremonyBox" class="more scrolly">Learn More</a>
					</section>
<!-- Section One -->					
						{% include ceremonyBox.html %}
<!-- Section Two -->
					<section id="two" class="wrapper alt style2">
						{% include accommodationsBox.html %}
						{% include directionsBox.html %}
						{% include rsvpBox.html %}
						{% include registryBox.html %}
					</section>
<!-- Section Three -->
<!--					{% include attractions.html %} -->
<!-- Goodbye -->
	{% include farewell.html %}
<!-- Footer -->
{% include footer.html %}