<!-- ceremony -->
<section id="ceremonyBox" class="wrapper style1 special">
	<div class="inner">
		<header class="major">
			<h2>Ceremony Details</h2>
			<p>Ceremony will be located at Devil's Lake State Park in Baraboo, Wisconsin on September 9th 2017.</p>
				<ul class="actions">
					<li><a href="#" class="button special fit small">Itinerary *Coming Soon*</a></li>
					<li><a href="faq.html" class="button special fit small">FAQ</a></li>
					<li><a href="https://calendar.google.com/calendar/event?action=TEMPLATE&tmeid=aGlydXNlamtkdDljazVjdGc0YjY1OWVvZXMgcGkwOHNhYTI5NHNqM3M4MWs2c205cnV1djRAZw&tmsrc=pi08saa294sj3s81k6sm9ruuv4%40group.calendar.google.com" class="button special fit small">Add to Calendar</a></li>
				</ul>
		</header>
	</div>
</section>