<section class="spotlight" id="registry">
	<div class="image"><img src="images/registry.jpg" alt="" /></div><div class="content">
		<h2>Registry</h2>
		<p>
			We can't wait to get married and are so honored to have you at our wedding! We are registered at Honeyfund and Etsy. 							
			<ul class="actions fit small">
				<li><a href="https://www.honeyfund.com/wedding/PaulandJennaGetHitched" class="button special fit small" target="_blank">Honeyfund</a></li>
				<li><a href="http://www.etsy.com/registry/MTI5MTU2NTd8MTg4ODk2NDg/" class="button special fit small" target="_blank">Etsy</a></li>
			</ul>
		</p>
	</div>
</section>