<section class="spotlight">
	<div class="image"><img src="images/pic02.jpg" alt="" /></div><div class="content">
		<h3>RSVP</h3>
		<section>
			<form method="post" action="#">
				<div class="row uniform">
					<div class="6u 12u$(xsmall)">
						<input type="text" name="demo-name" id="demo-name" value="" placeholder="Name" />
					</div>
					<div class="6u$ 12u$(xsmall)">
						<input type="email" name="demo-email" id="demo-email" value="" placeholder="Email" />
					</div>
					<div class="4u 12u$(small)">
						<input type="radio" id="attending-yes" name="rsvp" checked>
						<label for="attending-yes">Attending</label>
					</div>
					<div class="4u$ 12u$(small)">
						<input type="radio" id="attending-no" name="rsvp">
						<label for="attending-no">Not Attending</label>
					</div>
					<div class="12u$">
						<textarea name="demo-message" id="demo-message" placeholder="Enter your message" rows="4"></textarea>
					</div>
					<div class="12u$">
						<ul class="actions">
							<li><input type="submit" value="Send Message" class="special" /></li>
							<li><input type="reset" value="Reset" /></li>
						</ul>
					</div>
				</div>
			</form>
		</section>
	</div>
</section>